@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Roboto:wght@400;700&display=swap');

/* ROOT */

:root {

    /* COLORS */
    --primary-tomato: #ff6257;
   
    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --neutral-charcoal-grey: hsl(235, 18%, 26%);
    --neutral-grey: hsl(231, 7%, 60%);
    --neutral-white: hsl(0, 0%, 100%);

    /* FONT WEIGHTS */

    --fw-normal: 400;
    --fw-bold: 700;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-size: 16px;
    color: var(--neutral-charcoal-grey);

    position: relative;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
}

.section-container, .success-message-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

/* GENERAL STYLES */

/* SECTION CONTAINER */

.section-container {
    background-color: var(--neutral-white);
    width: 375px;

    display: flex;
    flex-direction: column;
}

/* IMAGE CONTAINER */

.img-mobile, .img-desktop {
    width: 100%;
}

/* CONTENT CONTAINER */

.content-container {
    margin: 2em 1.5em;
}

h1 {
    margin-bottom: 0.48em;
}

p {
    line-height: 1.5em;
    margin-bottom: -0.5em;
}

ul {
    list-style-type: none;
    margin: 2em 0;
}

li {
    
    background-image: url(./assets/images/icon-list.svg);
    background-repeat: no-repeat;

    /* add a value to the top position instead of 'left top' */
    background-position: left 0.1em;
    /* create space for the image so image and text will not overlap  */
    padding-left: 2.3em;

    line-height: 1.5em;
    padding-bottom: 0.1em;
    margin-bottom: 0.4em;
}

/* FORM */

form {
    margin-top: 2.4em;
    position: relative;
    display: grid;
}

label {
    font-size: 0.78em;
    font-weight: var(--fw-bold);
    margin-bottom: 0.7em;
}

input {
    font-family: inherit;
    font-size: 1em;
    font-weight: var(--fw-normal);
    color: var(--neutral-charcoal-grey);
    padding: 1.1em;
    border-radius: 0.7em;
    border: 0.1em solid var(--neutral-grey);
}

.error {
    color: var(--primary-tomato);
    font-weight: var(--fw-normal);
    background-color: #ffeae8;
    border-color: var(--primary-tomato);
}

input:hover {
    cursor: pointer;
}

#email-error-msg {
    font-size: 0.78em;
    font-weight: var(--fw-bold);
    color: var(--primary-tomato);
    position: absolute;
    right: 0;
}

.hidden {
    display: none;
}

button {
    margin-top: 1.5em;
    font-family: inherit;
    font-size: 1em;
    font-weight: var(--fw-bold);
    color: var(--neutral-white);
    background-color: var(--neutral-dark-slate-grey);
    padding: 1.15em;
    border-radius: 0.7em;
    border: none;
}

button:hover {
    background-color: var(--primary-tomato);
    box-shadow: 0em 1em 1em #ffc6c2;
    cursor: pointer;
}


/* SUCCESS MESSAGE CONTAINER */

.success-message-container {
    background-color: var(--neutral-white);
    width: 375px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    padding: 2em 1.5em 2.5em;
    visibility: hidden;
}

.logo-container {
    margin-top: 7.4em;
    margin-bottom: 2.15em;
}

h1.success-h1 {
    line-height: 1.02em;
    margin-bottom: 0.55em;
}

span.emphasis {
   font-weight: var(--fw-bold);
}

button.success-button {
   margin-top: 17em;
}

button.success-button:hover {
    background-color: var(--primary-tomato);
    box-shadow: 0em 1em 1em #ffc6c2;
    cursor: pointer;
    
}


/* MEDIA QUERIES */

@media screen and (max-width: 375px) {
    .section-container {
        width: 90%;
    }
    
}

@media screen and (min-width: 950px) {
    body {
        background-color: var(--neutral-dark-slate-grey);

        height: 100vh;
    }

    .section-container, .success-message-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* SECTION CONTAINER */

    .section-container {
        width: 58em;
        /* padding: 1.5em; */
        border-radius: 2em;
      
        flex-direction: row-reverse;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }

    /* IMAGE CONTAINER */

    .image-container {
        padding: 1.5em;
    }

    /* CONTENT CONTAINER */

    .content-container {
        padding-top: 3.6em;
        padding-left: 2.4em;
        padding-right: 0.9em;
    }

    h1 {
        font-size: 3.5em;
        margin-bottom: 0.34em;
    }

    p {
        margin-bottom: -0.55em;
    }

    /* SUCCESS MESSAGE CONTAINER */

    .success-message-container {
        width: 31.5em;
        height: 32.6em;
        padding: 3em 3.9em ;
        border-radius: 2em;
    }

    .logo-container {
        margin-top: 0;
        margin-bottom: 2.25em;
    }

    h1.success-h1 {
        line-height: 1em;
        margin-bottom: 0.42em;
    }

    button.success-button {
        margin-top: 3.05em;
    }

}























































